:root {
  --light-grey: grey;
  --grey: #828282;
  --dark-grey: #606060;
  --green-right: #90EE90;
  --red-wrong: #FF7F7F;
}

menu {
  column-count: 3;
}

body {
  background-color: rgb(16, 128, 148);
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
  font-size:20px;
  text-align: justify;
}

.link {
  background-color: #fff;
  border-radius: 0px;
  border: 2px solid rgb(0, 0, 0);
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  z-index: 1;
  text-align: center;
  overflow: hidden;
}

#test-page-info { display: none; }
.link:hover #test-page-info { display: block; }
#arithmetic-page-info { display: none; }
.link:hover #arithmetic-page-info { display: block; }

button {
  float: right;
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
  font-size:20px;
  text-align: justify;
  color:black;
  text-transform: none;
  font-weight:normal;
  border: 2px dotted rgb(0, 0, 0);
}

.wrapper {
  position: relative;
  margin: 0 auto;
}

ol, ul {
  list-style: none;
}

.problems {
  columns: 3;
}

.answer-box {
  width: 75px;
  margin: 0px 0px 0px 0px;
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.problems > li {
  background-color: #fff;
  border-radius: 0px;
  border: 2px solid rgb(0, 0, 0);
  margin: 0px 0px 20px 0px;
  padding: 10px 10px 10px 10px;;
  z-index: 1;
  text-align: center;
}

.question {
  display: block;
  position: relative;
  background-color: #fff;
  margin: 50px 0px 50px 0px;
  padding: 20px 20px 20px 20px;
  border-radius: 25%;
  border: 2px solid rgb(0, 0, 0);
  z-index: 1;
}

.circle-with-text {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
}

.box {
  display: block;
  position: relative;
  background-color: #fff;
  margin: 50px 0px 50px 0px;
  padding: 20px 20px 20px 20px;
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
  z-index: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.lg-view {
  display:inline-block;
}

.sm-view {
  display:none;
}

/*smaller than tablet*/
@media screen and (max-width: 900px) {
  .problems {
    columns: 2;
  }
  .lg-view {
    display:none;
  }
  
  .sm-view {
    display:inline-block;
  }
}

/*smaller than phone*/
@media screen and (max-width: 600px) {
  .problems {
    columns: 1
  }
}